/* Colores CSS*/
.color-white{color: white;}
.color-black{color: white;}
.color-w{color: white;}
.color-white{color: white;}
.color-white{color: white;}
.color-white{color: white;}
.color-red{color: red;}
